{{ define "main" }}
      <!--Grid row-->
      <div class="row">
        <h1>{{ .Title }}</h1>
        <!--Grid column-->
        <div class="col-md-8 mb-4">
          <!--Section: Post data-mdb-->
          <section class="border-bottom mb-4">
            {{ with .Page.Params.image }}
            <figure>
                {{ $image := $.Page.Resources.GetMatch . }}
                <img id="cover-image" src={{ $image.RelPermalink }} alt="{{ $.Title }}"
              class="img-fluid shadow-2-strong rounded-5 mb-4" />
            </figure>
            {{ end }}
            <div class="row align-items-center mb-4">
              <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                <span> Published <u>{{ partial "date.html" .Date }}</u> &centerdot;{{ partial "time-to-read.html" .}}</span>
              </div>
            </div>
          </section>
          <!--Section: Post data-mdb-->
  
          <!--Section: Text-->
          <section>
            {{ .Content }}
          </section>
          <!--Section: Text-->
  
          <!--Section: Share buttons-->
          <section class="text-center border-top border-bottom py-4 mb-4">
            {{ partial "social-media-share.html" . }}
          </section>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-4 mb-4">
          <!--Section: Sidebar-->
          <section class="sticky-top" style="top: 80px;">
            <!--Section: Ad-->
            <section class="text-center border-bottom pb-4 mb-4">
              <h5>Your Preference 1</h5>
            </section>
            <!--Section: Ad-->
            <!--Section: Video-->
            <section class="text-center">
              <h5 class="mb-4">Your Preference 2</h5>
            </section>
            <!--Section: Video-->
          </section>
          <!--Section: Sidebar-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
{{ end }}

