{{ $image := .Page.Resources.Match .Params.image }}
{{ $image := index $image 0 }}
{{ $tag := .Params.tags }}
{{ $tag := index $tag 0 }}
{{ $s := .Summary | plainify | htmlUnescape }}
<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <!-- Featured image -->
    <div class="bg-image hover-overlay shadow-1-strong ripple mb-4" data-mdb-ripple-color="light">
        <a href="{{ .RelPermalink }}"><img src="{{ $image.RelPermalink }}" class="img-fluid" />
        </a>
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
<!-- Article data -->
<div class="row mb-3">
<div class="col-6">
    <i class="fas fa-plane"></i>
    <a href="{{ "/tags/" | relURL }}{{ $tag | urlize }}" class="text-info">{{ $tag }}</a>
</div>
<div class="col-6 text-end">
<u> {{ partial "date.html" .Date }}</u>
</div>
</div>

<!-- Article title and description -->
<a href="{{ .RelPermalink }}" class="text-dark"><h5>{{ .Title }}</h5></a>
<p>{{ substr $s 0 120 }}...</p>
</a>
</div>